<!DOCTYPE html>

<html lang="en">
  
<head>
  <title>dataSci</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    pre {
      font-size: 1.5em;
    }
    
    code {
      font-size: inherit;
    }
    
    p, li {
      font-size: 1.5em;
      padding-bottom: 1em;
    }
    
    h1{
      font-size: 2.4em;
    }
    
    h2{
      font-size: 2.25em;
    }
    
    h3{
      font-size: 2em;
    }
    
    pre {
      padding-bottom: 1em;
    }
    
    .warning {
      background-color: #ffffff;
    }
    
    .output {
      background-color: #ffffff;
    }
    
    .knitr r {
      background-color: #ffffff;
    }
    
    .rcode {
      background-color: #ffffff;
    }
    
    .source {
      background-color: #ffffff;
    }
    
    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    
    .header {
        background-color: #FFFFFF;
        margin-bottom: 1vw;
    }
      
    .flex-container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    
    .banner-content {
      margin-top: 1vw;
      margin-left: 15vw;
      margin-right: 15vw;
    }
    
    .content {
      padding-bottom: 80px;
      margin-left: 15vw;
      margin-right: 15vw;
      flex-grow: 1;
      background-color: #FFFFFF;
    }
  
    .footer {
        background-color: #101820;
    }
      
    .fa-twitter {
      color: white;
    }
  </style>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
</head>


<div class = "flex-container">
  <div id = "banner" class = "header">
    <div class = "banner-content">
      <div class = "row">
        <h1>In pursuit of normal data (Codd’s rules & tidyr)</h1>
      </div>
        <hr>
    </div>
  </div>
  <div class = "content">


<!--begin.rcode eval = TRUE, include  = FALSE
# Load RCurl library:

library(RCurl)

source("https://raw.githubusercontent.com/bsevansunc/workshop_languageOfR/master/sourceCode.R")

library(knitr) ; library(kableExtra) ; library(tidyverse)

options(knitr.table.format = "html")
end.rcode -->

<!--begin.rcode eval=TRUE, echo = FALSE, warning = FALSE, message = FALSE
# Load packages:

library(tidyverse)

# Names of files we will use for this lesson:

file_names <-
  c('badDate',
    'badYear',
    'bird_rawCounts',
    'birdHabits',
    'dfTooLong',
    'wideFrame',
    'untidyFrame',
    'badBandingRecord')

# I've got one more frame I would like to add:

really_bad_date <-
  tibble(
    month = 3,
    day = 10,
    year = 2021)
end.rcode-->

<img style="display: block;
        float: right;
	      padding: 9px;
	      border-style: solid;
	      border-width: 10px;
	      border-color: white;" 
	      src="https://i.pinimg.com/originals/7c/36/05/7c3605f31c371e7ff2021bf55aeb09fa.jpg"
	      width="50%" />
<p>It is estimated that the process of summarizing and preparing data for statistical analysis, <b>data wrangling</b>, consumes roughly 80 percent of total analysis time (Dasu and Johnson 2003). Despite this, researchers are rarely given much, if any, training on properly managing their data. 
As a result, researchers in fields outside of data science rarely follow formal data management conventions and tend to format their data for a given analyis, ease of data entry, or for some now-potentially-defunct computer program. This leads to messy, inflexible datasets that are difficult to work with for anything but their initial intention.</p>

<p>The goal of this lesson is to introduce you to how to store your field data in a tidy way. Tidy data are datasets that follow the convention of database design. This is the preferable format for data in that:</p>
<ul>
<li><b>Tidy data are not platform-specific</b>: This is not just the preferred data formatting for working in R or using <i>tidyverse</i> packages, this is the preferred format for data as a whole. Considerable research, and really an entire field of study, has gone into the rules that determine what consitutes tidy data.</li>
<li><b>Tidy data are durable and avoid data entry and modification errors</b>: Tidy data avoids generating and working with duplicate values in data tables and databases. This streamlines the data entry and management processes.</li>
<li><b>All tidy datasets are structured in the same way</b>: Tidy datasets lead to fast and flexible analysis because they are all structured in the same way. Messy datasets can be messy in a multitude of ways and therefore may require considerable wrangling to prepare them for statistical analysis.</li>
</ul>

<hr>

<h2>Before we begin</h2>

<p>Please run the code below. It's okay if you don't understand each of the steps yet - you will by the end of this workshop though!</p>
<!--begin.rcode eval=FALSE
# Load packages:

library(tidyverse)

# Names of files we will use for this lesson:

file_names <-
  c('badDate',
    'badYear',
    'bird_rawCounts',
    'birdHabits',
    'dfTooLong',
    'wideFrame',
    'untidyFrame',
    'badBandingRecord')

# Read the files from my GitHub account (a necessary evil, currently):

file_names %>% 
  purrr::map(
    ~ file.path(
      'https://raw.githubusercontent.com/bsevansunc',
      'smsc_data_science/master/data',
      str_c(., '.csv')) %>% 
      read_csv()) %>% 
  set_names(file_names) %>% 
  list2env(envir = .GlobalEnv)

# Remove file_names for a clean global environment:

rm(file_names)

# I've got one more frame I would like to add:

really_bad_date <-
  tibble(
    month = 3,
    day = 10,
    year = 2021)
end.rcode-->

<hr>

<h2>The rules of tidy data in the language of data science</h2>

<p>At the core of the <b>Tidyverse</b> is the notion of tidy data. Tidy data are easy to modify, summarize, model, and communicate to others. At each step in our data science process, we should be thinking about the structure of our data and taking every step we can to ensure that they are tidy.</p>

<p>The three normalization rules of database design (Codd) form the backbone of much of the field of data science and define a tidy dataset. These rules are:</p>

<ol>
  <li><b>First normal</b>:</li>
    <ul>
    <li>All rows represent a unique record (primary key)</li>
    <li>All values are atomic</li>
    <li>Columns do not contain repeated grouping</li>
    </ul>
  <li><b>Second normal</b>: All columns are functionally dependent the primary key (observation)</li>
  <li><b>Third normal</b>: All columns are non-transitively dependent. This means that column values are <b>only</b> directly a function of the primary key.</li>
</ol>
<p>Before proceeding to working with Tidy data, let's look at the normalization rules more in depth.</p>

<hr>

<h3>The first normal rule</h3>
<br>
<ul>
<li>All rows represent a unique record (<b>primary key</b>):
  <br>
  <p style = "font-size: inherit">The <b>primary key</b> is a data base field that defines a unique record in the database. Note that primary keys are rarely used in R tables, but I will use it in many of the tables of this section to illustrate the rules of database normalization.</p>
  
  <p style = "font-size: inherit">The table below illustrates the measurement data for a bird that was captured on a given date. We can see that the level of observation, as shown by the primary key, defined by the bird observed (<code>birdID</code>) and date (<code>observationDate</code>). Because there are multiple records associated with this observation level, this is a violation of the first normal rule.</p>

<div class = "row">
<!--begin.rcode echo = FALSE
kable(messy1NFa, "html") %>%
  kable_styling(
    bootstrap_options = c("striped", "hover"),
    full_width = FALSE,
    font_size = 20,
    position = "float_left"
  )
end.rcode-->
</div>


<p style = "font-size: inherit">Why? Mass, wing, and tail are attributes (variables) associated with the observation of the bird and thus deserve their own columns of the table, as below.</p>

<br>

<div class = "row">
<!--begin.rcode echo = FALSE
kable(tidy1NFa, "html") %>%
  kable_styling(
    bootstrap_options = c("striped", "hover"),
    full_width = FALSE,
    font_size = 20,
    position = "float_left"
  )
end.rcode-->
</div>
</li>
<br>

<li>All values are atomic:</li>
<br>
<p>An <b>atomic value</b> is a value that cannot be divided. In the table below, multiple dates are provided in a single column, a clear violation of this rule of the first normal.</p>
<br>

<div class = "row">
<!--begin.rcode echo = FALSE
kable(badDate, "html") %>%
  kable_styling(
    bootstrap_options = c("striped", "hover"),
    full_width = FALSE,
    font_size = 20,
    position = "float_left"
  )
end.rcode-->
</div>

<br>
<p>To fix this, we separate date into multiple columns, as below (<i>Note: The table below is still not tidy!</i>).</p>
<br>
<div class = "row">
<!--begin.rcode echo = FALSE
kable(tidy1NFb0, "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 20,
  position = "float_left"
  )
end.rcode-->
</div>
<br>

<li>Columns do not contain repeated grouping:</li>
<br>
<p>The table below contains mass measurements taken of birds on a given date. While mass is an attribute of a bird, we can see that the mass measurement varies by date.</p>
<br>
<div class = "row">
<!--begin.rcode echo = FALSE
kable(messy1NFc, "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 20,
  position = "float_left"
  )
end.rcode-->
</div>
<br>
<p>Because the mass measurement varies by date, it is an attribute of the observation of the bird on that date. Therefore, the primary key of this table should relate to both the date of the observation and the identity of the bird observed. Each measurement, and each bird measured on a given date, is given its own row, as below.</p>
<br>
<div class = "row">
<!--begin.rcode echo = FALSE
kable(exampleTidy1, "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 20,
  position = "float_left"
  )
end.rcode-->
</div>
</li>
</ul>
<br>
<h3>The second normal rule</h3>
<br>
<p>The second normal rule, that all columns are functionally dependent on the observation, is a rule that can be used to test whether the values in a single table should be split into multiple tables (or, conversely, that multiple tables can be merged into a single table). This rule can be restated as "every column must be an attribute of the observation that defines the row". When working with the second normal rule, we need to ask ourselves what the level of observation is for the record. The table below contains measurements of birds taken at a given site on a given date and the proportional canopy cover (leaf cover) at the site.</p>

<br>
<div class = "row">
<!--begin.rcode echo = FALSE
badBandingRecord <- exampleTidy1 %>%
  mutate(
    site = c('apple','apple', 'avocado', 'apple', 'avocado'),
    canopyCover = c(32.5, 32.5, 78.4, 32.5, 78.4)
  ) %>%
  select(id, birdID, observationDate, site, canopyCover, mass)

kable(badBandingRecord, "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 16,
  position = "float_left"
  )
end.rcode-->
</div>

<p>Mass is an attribute of the measurement of the bird on a given date. Site is an attribute of this record, because it describes the observation. Canopy cover, however, is an attribute of site. The repeated canopy cover values is a big clue that something is awry. To deal with this, the data are split into two tables, one describing the observation and the other a table describing the site, as below.</p>
<br>
<div class = "row">
<p>Bird observation table:</p>
<!--begin.rcode echo = FALSE
siteTable <- badBandingRecord %>%
  select(site, canopyCover) %>%
  distinct %>%
  mutate(id = siteIds) %>%
  select(id, site, canopyCover)

birdObservationTable <- badBandingRecord %>%
  select(-canopyCover) %>%
  left_join(
    siteTable %>%
      rename(siteId = id),
    by  = 'site'
  ) %>%
  select(id, siteId, birdID, observationDate, mass)

kable(birdObservationTable, "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 16,
  position = "float_left"
  )
end.rcode-->

</div>
<br>
<div class = "row">
<p>Site table:</p>
<!--begin.rcode echo = FALSE
kable(siteTable %>% rename(siteId = id), "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 16,
  position = "float_left"
  )
end.rcode-->
</div>
<br>
<p>In the above table the site field in the observation table has been replaced by `siteId`. This is what is called a <b>foreign key</b>. A foreign key is a field that links to the primary key in a different table. The foreign key is a way to link the two tables so that they can share information with one another. This is described as a one-to-many relationship (a row from one table can have multiple matching rows in another -- for example, there are multiple observations associated with each site).</p>

<p>There is a bit of a gray area here remaining in the observation table -- should it remain one table or split into two? Mass is certainly an attribute of the observation of a bird but, considering that multiple birds were observed at a given site, is site really an attribute of the observation? You could make a case (and I would agree) that this table should be divided even further, as below:</p>
<br>
<div class = "row">
<p>Bird observation table:</p>
<!--begin.rcode echo = FALSE
visitIds <- vector('character', length = 4)

for(i in seq_along(visitIds)){
  visitIds[i] <- generateObservationID()
}

visitTable <- birdObservationTable %>%
  select(siteId, observationDate) %>%
  distinct %>%
  mutate(id = visitIds) %>%
  select(id, siteId, observationDate)
  
birdObservationTable <- birdObservationTable %>%
  left_join(visitTable %>% rename(visitId = id), by = c('siteId', 'observationDate')) %>%
  select(id, visitId, birdID, mass)

kable(birdObservationTable, "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 16,
  position = "float_left"
  )
end.rcode-->
</div>
<br>
<div class = "row">
<p>Visit table:</p>
<!--begin.rcode echo = FALSE
kable(visitTable %>% rename(visitId = id), "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 16,
  position = "float_left"
  )
end.rcode-->
</div>

<br>
<div class = "row">
<p>Site table:</p>
<!--begin.rcode echo = FALSE
kable(siteTable %>% rename(siteId = id), "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 16,
  position = "float_left"
  )
end.rcode-->
</div>
<br>
<h3>The third normal rule</h3>
<br>
<div class = "row">
<img src="images/transitive.png" 
	title="transitive objects"
	alt = "objects of different sizes display transitive properties"
	style= "float: left; width: 30%; padding-left: 0px; padding-right: 10px"/>
<p>Kent: Every non-key attribute must provide a fact about the key, the whole key, and nothing but the key. So help me Codd.</p>

<p>The third normal rule states that, in addition to first and second normal rules being met, columns cannot be <b>transitively dependent</b>. The figure on the right displays transitive dependence -- if object A is greater in size than object C and object C is larger than object B, then object A must be larger than object B. Because of the first two comparisons between objects A and C and object C and B, directly comparing objects A and B is not necessary. In the realm of data tables, if the value of some column can be directly derived from the value of any non-key column, then this column should not be included in a data table because it provides no new information.</p> 

<p>The easiest example of violations of the third normal rule, and one of the most common, is the inclusion of both a year and date field in a data table, as illustrated below.</p>
</div>
<br>
<div class = "row">
<!--begin.rcode echo = FALSE

badYear <- exampleTidy1 %>%
  mutate(observationYear = lubridate::year(observationDate))

kable(badYear, "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 16,
  position = "float_left"
  )
end.rcode-->
</div>
<p>Because year can directly be derived from date, this column should not be included. Instead the dataset should be:
<br>
<div class = "row">
<!--begin.rcode echo = FALSE
kable(exampleTidy1, "html") %>%
 kable_styling(
  bootstrap_options = c("striped", "hover"),
  full_width = FALSE,
  font_size = 16,
  position = "float_left"
  )
end.rcode-->

</div>
<br>
<br>
<blockquote>
<h3><i class= "fa fa-user-circle-o" style = "font-size: 150%;"></i> Exercise One:</h3>
<br>
<p>Consider how to structure the following dataset using the three rules of normalizing data:</p>
<!--begin.rcode echo = FALSE
exercise1cleanSiteXY1 <- 
  exercise1messy %>%
  separate(siteXY, into = c('x', 'y'), sep = ', ')
  
kable(exercise1messy, "html") %>%
  kable_styling(bootstrap_options = c("striped", "hover")) %>%
  row_spec(c(0, 2, 4), background = 'white') %>%
  row_spec(c(1, 3, 5), background = 'gray80')
end.rcode-->
<br>
<p>Note:The variable "hTemp" refers to the daily high temperature.</p>
</blockquote>

<br>
<hr>
<br>
<h2>The rules of tidy data in statistical language</h2>
<br>
<p>For the creation of the tidyverse, Hadley Wickham re-framed the three normalization rules into statistical language -- the language of most R users. In the statistical language, a tidy dataset has three qualities:</p>
<ol>
<li>Each variable forms a column</li>
<li>Each observation forms a row</li>
<li>Each level of observation forms a table</li>
</ol>
<p>To illustrate these rules, we will explore the process of making untidy data tidy.</p>
<br>
<h3><b>Tidy rule: Each variable forms a column</b></h3>
<br>
<h4><b>Untidy problem</b>: Multiple variables in a single column</h4>
<p>This problem relates to the first normal rule "all values are atomic". We illustrated this previously using a dataset in which there where multiple dates stored in a single date column, repeated below, with the dataset `badDate`.</p>

<!--begin.rcode
badDate
end.rcode-->


<p>This type of rule violation can easily be dealt with using the `tidyverse` <b>separate</b> function. Arguments of `separate` include:</p>
<ul>
<li><b>data</b>: The data frame that contains the columns you wish to separate</li>
<li><b>col</b>: The name of the column you wish to separate</li>
<li><b>into</b>: A vector providing the names of the new columns</li>
<li><b>sep</b>: The character that defines where to split the columns</li>
</ul>
<p>To separate the above into a tidier (but still not tidy) dataset, code the following:</p>
<!--begin.rcode 
separate(
  data = badDate,
  col = observationDate,
  into = c('date1', 'date2'),
  sep = ", "
  )
end.rcode-->
<br>
<h4><b>Untidy problem</b>: Variable split into multiple columns</h4>

<p>This rule can also be violated in the other direction, when a single variable is split into multiple columns. A common example of this is with dates (really_bad_date):</p>

<!--begin.rcode 
really_bad_date
end.rcode-->
<br>
<p>We can use the `unite` function to address this:</p>

<!--begin.rcode 
unite(
  data = really_bad_date, 
  col = 'date', 
  c(year, month, day), 
  sep = '-')
end.rcode-->
<br>

<h4><b>Untidy problem</b>: Transitive columns</h4>

<p>A common mistake is to derive the value in one column using information from another column. This is a violation of the third normal rule. Above, we used the example of a dataset that included a year and date column. These columns are called <b>transitive</b> because year can be derived from date. A <b>transitive</b> variable contains no further information, so is untidy. Let's take a look at the data again, with the dataset `badYear`, before addressing the problem:</p>
<div class = "row">
<!--begin.rcode
badYear
end.rcode-->

</div>
<br>
<p>To address this, we must <b>subset data by columns</b>. In our previous lessons we learned how to select columns from a data frame using indexing. Indexing allows us select columns based on their position within the data frame or by name:</p>

<!--begin.rcode
# By position: 

badYear[,1:4]

badYear[,-5]

# By name:

badYear[, c('id', 'birdID', 'observationDate', 'mass')]
end.rcode-->

<br>
<p>We can use the `tidyverse` <b>select</b> function to subset a data frame by column much more easily. Arguments of `select` include the data frame that contains the columns you wish to select and the names (unquoted) or positions of the columns.</p>

<!--begin.rcode
# By position: 

select(badYear, 1:4)

select(badYear, -5)

# By name:

select(badYear, id:mass)

select(badYear, -observationYear)
end.rcode-->

<br>
<h3><b>Tidy rule: Each observation forms a row</b></h3>
<br>
<h4><b>Untidy problem</b>: Multiple observations in a row (i.e., more than one observation per row)</h4>
<br>
<p>This type of problem is usually related to a violation of the first normalization rule (columns do not contain repeated groupings). For this problem, we will use the dataset `untidyFrame`. In this typical example a researcher is assessing the influence of a treatment measured on three test subjects:</p>
<!--begin.rcode
untidyFrame
end.rcode-->

<p>It's easy to look at -- it's very easy to visually compare treatment A with treatment B -- but is it tidy? Nope, not at all. We would have to do some awkward wrangling in base R to get this into a tidy format. Luckily, Hadley Wickham and his team created the `tidyverse` with the aim of reshaping messy datasets like these into tidy ones.</p>

<p>We can address this using the tidyverse function pivot_longer:</p>

<!--begin.rcode
pivot_longer(
  data = untidyFrame,
  cols = treatmentA:treatmentB,
  names_to = 'treatment',
  names_prefix = 'treatment',
  values_to = 'value')
end.rcode-->
<br>

<p>This generated what is often called a "<b>long</b>" data frame. Are all tidy data frames long? Not necessarily! It depends on the observational unit of your study.</p>
<br>
<h4><b>Untidy problem</b>: Multiple rows per observation</h4>

<p>Take a moment to consider the following data frame of bird measurement data that we used in the first section (`dfTooLong`):</p>

<div class = "row">
<!--begin.rcode
dfTooLong
end.rcode-->
</div>
<br>

<p>In this instance the measurements (mass, tail, and wing) are all attributes associated with the level of observation, the bird on a given date, but the observation has been split into one row for each value. This is a violation of the first normal rule (all rows represent a unique record). To fix this, we must convert from long to wide form. To do so, we use the `pivot_wider` function in `tidyr`.</p>


<!--begin.rcode
pivot_wider(
  data = dfTooLong,
  names_from = measurement,
  values_from = value)
end.rcode-->

<br>
<h3><b>Tidy rule: Each level of observation forms a table</b></h3>
<br>
<h4><b>Untidy problem</b>: Multiple levels of observation in a table</h4>

<p>This problem, which is a violation of the second normal rule, occurs when a single table is created to store data collected across multiple observational levels. It is probably the most common issue in data management. Let's look once again at the data table that violated the second normal rule above (`badBandingRecord`):</p>

<!--begin.rcode
badBandingRecord
end.rcode-->
<br>

<p>The table above contains:</p>
<ul>
<li>Site-level observations: Canopy cover is an attribute of the site</li>
<li>Bird-level observations: birdID, observationDate, site, and mass are all attributes of a bird's capture event</li>
</ul>

<p>Above we used the function `select` to remove columns from tables. We can use this function to restructure the banding record into a list containing two normalized tibbles. Each list item represents a level of observations:</p>

<!--begin.rcode
list(
  birds = 
    select(
      badBandingRecord,
      birdID,
      observationDate,
      site,
      mass),
  sites =  
    select(
      badBandingRecord,
      site,
    canopyCover))
end.rcode-->
<br>

<p>The above is a great start, but notice that the `siteRecord` table has duplicate rows. This is a violation of the first normal rule. You can use the tidyverse function <b>distinct</b> to remove any rows that are exact duplicates of one another:</p>

<!--begin.rcode
bird_list <-
  list(
    birds = 
      select(
        badBandingRecord,
        birdID,
        observationDate,
        site,
        mass),
    sites =  
      select(
        badBandingRecord,
        site,
        canopyCover))

bird_list[[2]] <- 
  distinct(bird_list[[2]])

bird_list
end.rcode-->
<br>

<blockquote>
<h3><i class= "fa fa-user-circle-o" style = "font-size: 150%;"></i> Exercise Two:</h3>
<br>
<p>The dataset `birdCounts` is located in your global environment. Following the rules outlined above, convert this dataset to tidy-formatted data.</p>
<br>
</blockquote>
<br>
      
  </div>
  </div>
  <div class = "footer">
    <div class= "container" style = "height: 10vh;">
      <p style = "color: white; float: left; padding-top: 3vh;">Contact me:</p>
        <a href="mailto:evansbr@si.edu" class="fa fa-envelope fa-2x" target="_blank" style = "float: left; height: 7vh; padding-top: 3vh;  padding-left: 2vw;"></a>
        <a href="https://twitter.com/bsevans_unc" class="fa fa-twitter fa-2x" target="_blank" style = "float: left; height: 7vh; padding-top: 3vh; padding-left: 2vw; "></a>
      <img style = "float: right; height: 7vh; padding-top: 3vh;" src="https://americanindian.si.edu/nationtonation/img/smithsonian-logo-nav.png"/>
    </div>
  </div>
</div>
