<!DOCTYPE html>
  
<html lang="en">
    
  <head>
    <title>dataSci</title>
    <meta charset="utf-8" 
          name="viewport" 
          content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" 
          href="css/styles.css" 
          type="text/css"/>
    <link rel="icon" 
          type="image/png" 
          href = "https://github.com/rstudio/hex-stickers/blob/master/thumbs/pipe.png?raw=true" />
    <style>
      :root {
        font-size: 140%;
        body {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 2.25em;
        }
      }
      
      pre {
        font-size: 1rem;
      }
      
      code {
        font-size: inherit;
      }
      
      p, li {
        font-size: 1rem;
        padding-bottom: .5rem;
      }
      
      p, li {
        font-size: 1rem;
        padding-bottom: .25rem;
      }
      
      h1{
        font-size: 1.75rem;
        padding-bottom: 1rem;
      }
      
      h2{
        font-size: 1.5rem;
      }
      
      h3{
        font-size: 1.25rem;
      }
      
      pre {
        padding-bottom: 1em;
      }
      
      .warning {
        background-color: #ffffff;
      }
      
      .output {
        background-color: #ffffff;
      }
      
      .knitr r {
        background-color: #ffffff;
      }
      
      .rcode {
        background-color: #ffffff;
      }
      
      .source {
        background-color: #ffffff;
      }
      
      .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      
      html, body {
        height: 100%;
      }
      
      body {
        display: flex;
        flex-direction: column;
      }
      
      .content {
        flex: 1 0 auto;
        margin-left: 15vw;
        margin-right: 15vw;
      }
      
      .header {
        background-color: #FFFFFF;
        margin-bottom: 1vw;
      }
      
      /*.flex-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }*/
      
      .banner-content {
        margin-top: 1vw;
        margin-left: 15vw;
        margin-right: 15vw;
      }
      
    /*.content {
        padding-bottom: 80px;
        margin-left: 15vw;
        margin-right: 15vw;
        flex-grow: 1; 
        background-color: #FFFFFF;
      }*/
      
      .footer {
        display: flex;
        background-color: #101820;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        height: 7vh;
        font-size: .75rem;
      }
      
      .fa-twitter {
        color: white;
      }
    </style>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  </head>
  
  <body>
                  
    <div id = "banner" class = "header">
      <div class = "banner-content">
          <h1>Working with Tidy data</h1>
          <hr>
      </div>
    </div>
        
    <div class = "content">
    <p>Today's workshop:</p>
      <ul>
      <li>The pipe!</li>
      <li>Filtering tables</li>
      <li>Joining tables</li>
      </ul>
    </div>
        
    <div class = "footer">
        <a 
          href="mailto:evansbr@si.edu" 
          class="fa fa-envelope fa-2x" 
          target="_blank" 
          style = "padding: 1vh 2vw 1vh 15vw; width = 15vw;"></a>
        <a 
          href="https://twitter.com/bsevans_unc" 
          class="fa fa-twitter fa-2x" 
          target="_blank" 
          style = "padding: 1vh 2vw 1vh 1vw; ; width = 15vw;"></a>
        <img
          src="https://americanindian.si.edu/nationtonation/img/smithsonian-logo-nav.png"
          style = "float: right; height: 5vh; width: auto; padding-right: 15vw; margin-left: auto;"/>
    </div>
    
  </body>
    
</div>